<div *ngIf="isGameOver">
    <nav class="navbar bg-body-tertiary game-over">
        <div class="container-fluid">
            <span class="navbar-brand mb-0 h1">Game Over!</span>
        </div>
    </nav>
    <h2>Game Over!</h2>
    <h2>Correct guesses: {{ correctGuesses }}</h2>
    <p>
        <button type="button"
                class="btn btn-secondary btn-lg btn-block"
                (click)="goToConfiguration()">Play Again
        </button>
    </p>

</div>
<div *ngIf="!isGameOver">
    <nav class="navbar bg-body-tertiary">
        <div class="container-fluid">
            <span class="navbar-brand mb-0 h1">Correct guesses: {{ correctGuesses }}
                | Lives Remaining: {{ 3 - incorrectGuesses }}</span>
        </div>
    </nav>
    <div *ngIf="songs.length === 0"class="alert alert-danger" role="alert">
        Reloading song selections...Please Wait...
    </div>
    <div class="game-container">
        <div class="songs-column">
            <button type="button"
                    class="btn btn-secondary btn-lg"
                    *ngFor="let song of songs" (click)="playSong(song)">{{ song.name }}</button>
            <h2 *ngIf="!hasPreview">{{message}}</h2>
            <audio id="preview" controls>
                <source id="audioSource" src="" type="audio/mpeg">
                Your browser does not support the audio element.
            </audio>
        </div>
        <div class="artists-column">
            <button type="button"
                    class="btn btn-secondary btn-lg"
                    *ngFor="let artist of artists"
                    [ngClass]="{'correct': artist.isCorrect, 'incorrect': artist.isClicked && !artist.isCorrect}"
                    (click)="checkArtist(artist)"
            >
                {{ artist.name }}
            </button>
        </div>
    </div>
</div>
  