<div *ngIf="authLoading || configLoading">Loading...</div>
<div class="config-container" *ngIf="!authLoading && !configLoading">
    <h1>Who's Who?</h1>
    <div class="config-item">
        <label>Genre:</label>
        <select class="form-select form-select-lg mb-3"
                [(ngModel)]="selectedGenre">
            <option [value]=""></option>
            <option *ngFor="let genre of genres" [value]="genre">{{genre}}</option>
        </select>
    </div>
    <div class="config-item">
        <label for="selectedSongCount" class="form-label">Songs per Guess: {{selectedSongCount}}</label>
        <input type="range" class="form-range" min="1" max="6" [id]="selectedSongCount" [(ngModel)]="selectedSongCount">
    </div>
    <div class="config-item">
        <label for="selectedArtistCount" class="form-label">Artists per Guess: {{selectedArtistCount}}</label>
        <input type="range" class="form-range" min="2" max="4" id="selectedArtistCount" [(ngModel)]="selectedArtistCount">
    </div>
    <button type="button" class="btn btn-secondary btn-lg" (click)="startGame()">Start Game</button>
</div>